li.nav-item {
  color: white;
}

li.nav-item.scrolled {
  color: black; 
}
body {
    background-color: #000000;
    -webkit-text-size-adjust: 100%;
}

button {
  border: none;
}

.bubbleBlock {
  position: relative;
  z-index: 4;
}

a.bubble { 
  color: #f1f1f1; 
}

a.bubble:hover { 
  color: #f1f1f1; 
  text-shadow: 
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(255, 255, 255, 0.52),
    0 0 21px rgba(255, 255, 255, 0.92),
    0 0 34px rgba(255, 255, 255, 0.78),
    0 0 54px rgba(255, 255, 255, 0.92);
  text-decoration: none;
}

.bubbleContainer {
  width: 10vw; 
  height: 50vw; 
  margin: 3.6vw;
  background-color: transparent;
}

/* .bubbleContainerExit {
  width: 10vw; 
  height: 50vw; 
  margin: 3.5vw;

  background-color: pink;
  -webkit-animation: slideIn .5s forwards;
  -moz-animation: slideIn .5s forwards;
  animation: slideIn .5s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0);
  }
} */

.contactBubble {
  display: none;
  position: relative;
}

.contactBubble.clicked {
  height: 5vw; 
  width: 5vw; 
  background-color: rgba(239, 83, 123, .7);
  border-radius: 50%; 
  margin-top: 8vw;
  display: flex;
  border: .1vw solid pink;
  font-family: 'Muli', sans-serif;
  color: #f1f1f1;
  font-size:  4vw;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 20vw;
  letter-spacing: .30vw;
  position: absolute;
  margin-left: -2vw;
  position: fixed;
  display: inline;
}

.contactBubble:hover {
  box-shadow:  0 0 3px rgba(202,228,225,0.92),
  0 0 5px rgba(202,228,225,0.34),
  0 0 6px rgba(255, 255, 255, 0.52),
  0 0 9px rgba(255, 255, 255, 0.92),
  0 0 7px rgba(255, 255, 255, 0.78),
  0 0 2px rgba(255, 255, 255, 0.92);
  cursor: pointer;
  
}

#liBubble {
  -webkit-animation: slideIn .5s forwards;
  -moz-animation: slideIn .5s forwards;
  animation: slideIn .5s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}

#gitBubble {
  -webkit-animation: slideIn .75s forwards;
  -moz-animation: slideIn .75s forwards;
  animation: slideIn .75s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}

#mailBubble {
  -webkit-animation: slideIn 1.3s forwards;
  -moz-animation: slideIn 1.3s forwards;
  animation: slideIn 1.3s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}


#instaBubble {
  -webkit-animation: slideIn .1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
.navOpen {
  display: none;
  position: relative;
}

.navOpen.clicked {
  position: absolute;
  justify-content: flex-end;
  display: flex;
  font-family: 'Muli', sans-serif;
  color: #f1f1f1;
  font-size: 1.2vw;
  letter-spacing: .12vw;
  text-decoration: none;
  position: fixed;
  }

.navbarNavOpen {
  display: flex;
  font-family: 'Muli', sans-serif;
  margin-top: 3vw;
  color: #f1f1f1;
  font-size: 12px;
  letter-spacing: .20vw;
  display: flex;
  position: fixed;
  text-decoration: none;
}

a.navbarNavOpen:hover {
  text-decoration: none;
  color: black;
}


.navBubbles {
  height: 10vw; 
  width: 10vw; 
  background-color: rgba(239, 83, 123, .7);
  border-radius: 50%; 
  margin-top: 5vw;
  display: flex;
  border: .1vw solid pink;
  font-family: 'Muli', sans-serif;
  color: #f1f1f1;
  font-size:  2vw;
  text-decoration: none;
  text-align: center;
  vertical-align: middle;
  line-height: 10vw;
  letter-spacing: .15vw ;
}

#gitBubble {
margin-top: 14vw;
}

#instaBubble {
  margin-top: 20vw;
}

#mailBubble {
  margin-top: 26vw;
}

#bubble1 {
  -webkit-animation: slideIn .5s forwards;
  -moz-animation: slideIn .5s forwards;
  animation: slideIn .5s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}

#bubble2 {
  -webkit-animation: slideIn .75s forwards;
  -moz-animation: slideIn .75s forwards;
  animation: slideIn .75s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}

#bubble3 {
  -webkit-animation: slideIn .1s forwards;
  -moz-animation: slideIn 1s forwards;
  animation: slideIn 1s forwards;
}
@-webkit-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@-moz-keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(-150px);
  }
  100% {
    transform: translateX(0);
  }
}


.navBubbles:hover {
  box-shadow:  0 0 3px rgba(202,228,225,0.92),
  0 0 5px rgba(202,228,225,0.34),
  0 0 6px rgba(255, 255, 255, 0.52),
  0 0 9px rgba(255, 255, 255, 0.92),
  0 0 7px rgba(255, 255, 255, 0.78),
  0 0 2px rgba(255, 255, 255, 0.92);
}


.navClosed {
  display: none;
}

/* Icon 1 */

.animated-icon1, .animated-icon2, .animated-icon3 {
  width: 30px;
  height: 20px;
  position: relative;
  margin-top: 1.1vw;
  vertical-align: middle;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  }


  .animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
  }
  
  .animated-icon1 span {
  background: #f1f1f1;
  }

  .animated-icon1 span.scrolled {
    background: black;
    }
  
  .animated-icon2 span {
  background: #f1f1f1;
  }
  
  .animated-icon3 span {
  background: #f1f1f1;
  }
  
  .animated-icon1 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon1 span:nth-child(2) {
  top: 10px;
  }
  
  .animated-icon1 span:nth-child(3) {
  top: 20px;
  }
  
  .animated-icon1.open span:nth-child(1) {
  top: 11px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
  }
  
  .animated-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
  }
  
  .animated-icon1.open span:nth-child(3) {
  top: 11px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
  }
  
  /* Icon 3*/
  
  .animated-icon2 span:nth-child(1) {
  top: 0px;
  }
  
  .animated-icon2 span:nth-child(2), .animated-icon2 span:nth-child(3) {
  top: 10px;
  }
  
  .animated-icon2 span:nth-child(4) {
  top: 20px;
  }
  
  .animated-icon2.open span:nth-child(1) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  .animated-icon2.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  }
  
  .animated-icon2.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  }
  
  .animated-icon2.open span:nth-child(4) {
  top: 11px;
  width: 0%;
  left: 50%;
  }
  
  /* Icon 4 */
  
  .animated-icon3 span:nth-child(1) {
  top: 0px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(2) {
  top: 10px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3 span:nth-child(3) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  }
  
  .animated-icon3.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  top: 0px;
  left: 8px;
  }
  
  .animated-icon3.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
  }
  
  .animated-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: 21px;
  left: 8px;
  }


#mainNavbar {
  color: black;
  height: 7vw;
}

#mainNavbar .nav-link {
  color: #f1f1f1;
}

#mainNavbar .nav-link:hover {
 
}

.navbar {
  background-color: black;
  
}

#logo {
  color: #f1f1f1;
  padding-left: 1.1vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  color: #f1f1f1;
  font-family: 'Muli', sans-serif;
  font-size: 1.7vw;
  text-align: left;
  letter-spacing: .2vw;
  vertical-align: middle;
  margin-top: 2vw;
  margin-bottom: 2vw;

}

a.navLink {
  margin: 1vw;
  font-family: 'Muli', sans-serif;
  color: #f1f1f1;
  font-size: 1.2vw;
  letter-spacing: .12vw;
  vertical-align: middle;
  display: flex;
  justify-content: end;
  text-decoration: none;
  margin-top: 2.5vw;
}

.navLink {
  margin: 1vw;
  font-family: 'Muli', sans-serif;
  color: #f1f1f1;
  font-size: 1.2vw;
  letter-spacing: .12vw;
  vertical-align: middle;
  display: flex;
  justify-content: end;
  text-decoration: none;
  margin-top: 2.5vw;
  cursor: pointer;
}

#mainNavbar.scrolled {
  font-family: 'Muli', sans-serif;
  font-size: 1.5vw;
  text-align: left;
  letter-spacing: .2vw;
  vertical-align: middle;
  background: rgba(241, 241, 241, 1);
  transition: background 500ms;
  height: 7vw;
}

#logo.scrolled {
  color: black;
  transition: color 500ms;

}

@media (max-width: 770px) {
  .nav-item {
    display: none;
    } 
    .projectCards{
      /* padding: 30vw; */
      /* transform: scale(2); */
      }
}

@media (min-width: 770px) {
  .navOpen.clicked {
    display: none;
    
  }
}
.navLink.scrolled {
  margin: 1vw;
  font-family: 'Muli', sans-serif;
  color: black;
  font-size: 1.2vw;
  letter-spacing: .12vw;
  vertical-align: middle;
  transition: color 500ms;
}

.mdl-card__supporting-text {
width: 25vw;
height: 20vw;
}

.downArrow {
  display: flex; 
  justify-content: center;
  font-size: 6vw; 
  color: #f1f1f1; 
  width: 100%;
  cursor: pointer;
}

.fade-up {
  width: 100%;
  /* height: 4vw; */
  color: #10ac84;
  display: flex;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  font-size: 3vw;
  background-color: transparent;
  position: relative;
}

.intro_mobile {
  width: 100%;
  /* height: 4vw; */
  color: #f1f1f1;
  display: flex;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  font-size: 1.5vw;
  background-color: transparent;
  letter-spacing: .12vw;

}

/* .mdl-card__title .mdl-card--expand {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; 
  width: 80vw;

} */
.iAmA {
  display: none;
}

.uxD {
  font-size: 2vw; 
  letter-spacing: .3vw; 
  color: #3385D7;
  font-weight: 200;
}
.icon {
    width: 5vw;
    height: 5vw;
    background: rgba(255,255,255,.1);
    margin: .8vw;
    border-radius: 50%;
    color: #10ac84;
    box-shadow: 0vw .4vw 1.2vw -.4vw #00000070;
    position: relative;
    overflow: hidden;
}

.parallax {
  /* The image used */
  background-image: url('images/alicewoods.jpg');
  /* Set a specific height */
  min-height: 45vw; 
  width: 100%;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 21.5vw;
}

#chaos {
  margin-left: -8vw;
}

.allMobileCards {
  display: none;
}

#chaos_mobile {
  display: none;
}

#aboutBubble {
  padding-left: .8vw;
  margin-left: 1vw;
}

#projectsBubble {
  padding-left: .1vw;
  margin-left: .7vw;
}
#contactBubble {
  padding-left: .2vw;
  margin-left: .8vw;
}
/* MEDIA QUERIES */


  /* MOBILE PHONES */

      /* iPhone SE */
      @media (min-width: 320px) { 
        .parallax {
          min-height: 155vw;
        }
        .downArrow {
          font-size: 18vw;
          color: #f0f8ff;
        }
      }
                                                              /* iPhone 6/7/8 */
                                                              @media (max-width: 375px) { 
                                                                .parallax {
                                                                  min-height: 155vw;
                                                                  width: 100%;
                                                                }
                                                                .downArrow {
                                                                  font-size: 12vw;
                                                                }
                                                                #mainNavbar {
                                                                  height: 14vw;
                                                                }
                                                                .navbar-expand-md, .navbar, .navbar-dark {
                                                                  width: 375px;
                                                                }
                                                                #logo {
                                                                  font-size: 3.4vw;
                                                                }
                                                                .fade-up {
                                                                  font-size: 8vw;
                                                                }
                                                                .bubbleContainer{
                                                                  margin: 6vw;
                                                                  margin-top: 7vw;
                                                                }
                                                                #introLine {
                                                                  display: flex;
                                                                  justify-content: center;
                                                                  width: fit-content;
                                                                  padding: 0vw;
                                                                  text-align: center;
                                                                }
                                                                .chaos {
                                                                  display: none;
                                                                }
                                                                #mainNavbar.scrolled {
                                                                  height: 14vw;
                                                                }
                                                                .iAmA {
                                                                  display: inline-block;
                                                                }
                                                                .intro_mobile {
                                                                  font-size: 5vw;
                                                                  color: #f1f1f1;
                                                                  font-family: 'Muli', sans-serif;
                                                                  letter-spacing: .5vw;
                                                                  vertical-align: middle;
                                                                  display: flex;
                                                                  flex-direction: row;
                                                                  justify-content: flex-start;
                                                                  width: 90vw;
                                                                  margin-left: 2.5vw;
                                                                }
                                                                .uxD {
                                                                  font-size: 6vw;
                                                                  letter-spacing: .5vw;
                                                                  font-family: 'Muli', sans-serif;
                                                                  display: flex;
                                                                  flex-direction: row;
                                                                  justify-content: flex-start;
                                                                  margin-left: 6vw;
                                                                }
                                                                .blockA {
                                                                  display: none;
                                                                }
                                                                .allCards {
                                                                  display: none;
                                                                }
                                                                .allMobileCards {
                                                                  width: 100%;
                                                                }
                                                                .projectCards_mobile {
                                                                  width: 80vw; 
                                                                  background: black; 
                                                                  margin-left: 150px; 
                                                                  height: 38vw;
                                                                  margin: 2vw;
                                                                  display: flex;
                                                                  justify-content: center;
                                                                  font-family: 'Muli', sans-serif;
                                                                  font-size: 1.2vw;
                                                                  letter-spacing: .2vw;
                                                                  padding-bottom: 116vw;
                                                                }
                                                                h2.mdl-card__title-text {
                                                                  font-size: 5vw;
                                                                  font-family: 'Muli', sans-serif;
                                                                  text-align: center;
                                                                  padding-top: 1vw;
                                                                  padding-bottom: 1vw;
                                                                  background-color: rgba(0,0,0, .5);
                                                                  color: #f1f1f1;
                                                                  width: 80vw;
                                                                  height: 12vw;
                                                                  line-height: 2;
                                                                }
                                                                #mdl-card__supporting-text {
                                                                  background-color: #f1f1f1;
                                                                  width: 80vw;
                                                                  margin-left: -25vw;
                                                                  height: 20vw; 
                                                                  font-size: 3vw; 
                                                                  padding: 4vw;
                                                                }
                                                                .mdl-card__actions, .mdl-card--border {
                                                                  width: 80vw;
                                                                  margin-left: -25vw;
                                                                }
                                                                .allMobileCards {
                                                                  display: inline-block;
                                                                }
                                                                .blockB {
                                                                  display: none;
                                                                }
                                                                #chaos_mobile {
                                                                  display: flex;
                                                                  width: 100%;
                                                                  padding-left: 5vw;
                                                                  padding-right: 5vw;
                                                                }
                                                                #erase, #chaos {
                                                                  display: none;
                                                                  height: 0vw;
                                                                }
                                                               #mindMap {
                                                                  background: url(images/depressedMini.png); 
                                                                  background-position: center;
                                                                  background-repeat: no-repeat;
                                                                  background-size: cover; 
                                                                  width: 80vw;
                                                                  height: 80vw;
                                                                  margin-left: -25vw;
                                                                }
                                                                #diaryStudy {
                                                                  background: url(images/audioExperiencesMini.png); 
                                                                  background-position: center;
                                                                  background-repeat: no-repeat;
                                                                  background-size: cover; 
                                                                  width: 80vw;
                                                                  height: 80vw;
                                                                  margin-left: -25vw;
                                                                }
                                                                #webRedesign {
                                                                  background: url(images/yogaMainMini.png); 
                                                                  background-position: center;
                                                                  background-repeat: no-repeat;
                                                                  background-size: cover; 
                                                                  width: 80vw;
                                                                  height: 80vw;
                                                                  margin-left: -25vw;
                                                                }
                                                                #launchButton {
                                                                  width: 80vw; 
                                                                  height: 12vw; 
                                                                  font-size: 4vw;
                                                                  line-height: 2;
                                                                }
                                                                .navBubbles {
                                                                  height: 16vw; 
                                                                  width: 16vw; 
                                                                  background-color: rgba(239, 83, 123, .7);
                                                                  border-radius: 50%; 
                                                                  margin-top: 5vw;
                                                                  display: flex;
                                                                  border: .2vw solid pink;
                                                                  font-family: 'Muli', sans-serif;
                                                                  color: #f1f1f1;
                                                                  font-size:  3.5vw;
                                                                  text-decoration: none;
                                                                  line-height: 16vw;
                                                                  letter-spacing: .15vw;
                                                                  margin-left: -4vw;
                                                                }
                                                                #aboutBubble {
                                                                  padding-left: 1.5vw;

                                                                }
                                                                #projectsBubble {
                                                                  padding-left: .5vw;
                                                                }
                                                                #contactBubble {
                                                                  padding-left: .3vw;
                                                                }
                                                                #iconMobile{
                                                                  width: 9vw;
                                                                  height: 9vw;
                                                                  background: rgba(255,255,255,.1);
                                                                  margin: 2vw;
                                                                  border-radius: 50%;
                                                                  color: #10ac84;
                                                                  box-shadow: 0vw .4vw 1.2vw -.4vw #00000070;
                                                                  position: relative;
                                                                  overflow: hidden;
                                                              }
                                                              i::before {
                                                                font-size: 5vw;
                                                              }
                                                              i {
                                                                padding: 2.3vw 1.6vw 2vw 2vw;
                                                                align-items: center;

                                                              }
                                                              #copyRight {
                                                                height: fit-content;
                                                                padding-top: 6vw;

                                                              }
                                                              div.socialButtons {
                                                                margin-left: 8vw;
                                                              }
                                                              #ag2020 {
                                                                margin-top: 2.5vw;
                                                              }
                                                            }

                                                             

                                                              
      /* Small devices (landscape phones, 576px and up) */
      @media (min-width: 576px) { 
        .parallax {
          min-height: 110vw;
        }
        .downArrow {
          font-size: 10vw;
        }
        
      }
      /* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
      @media (min-width: 768px) {  
        .parallax {
          min-height: 108vw;
        }
        .downArrow {
          font-size: 10vw;
        }
      }
      /* Extra large devices (large desktops, 1200px and up) */
      @media (min-width: 1200px) { 
        .parallax {
          min-height: 40vw;
        } 
        .downArrow {
          font-size: 5vw;
        }   
      }
 

.blockA {
  float: left;
  height: 35vw;
  padding-left: 4vw;
  color: #f1f1f1;
  font-family: 'Muli', sans-serif;
  font-size: 1.3vw;
  text-align: left;
  letter-spacing: .2vw;
  vertical-align: middle;
  margin-top: 2.5vw;
}

.blockA_mobile {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.blockB {
  float: left;
  width: 60%;
  height: 35vw;
  padding-left: 0vw;
  padding-right: 5vw;
  color: #f1f1f1;
  font-family: 'Muli', sans-serif;
  font-size: 1.5vw;
  text-align: left;
  letter-spacing: .2vw;
  vertical-align: middle;
} 

.projectCards {
  margin: 2vw;
  display: flex;
  justify-content: center;
  font-family: 'Muli', sans-serif;
  font-size: 1.2vw;
  letter-spacing: .2vw;
  padding-bottom: 15vw;
}

.demo-card-square.mdl-card {
  width: 30vw;
  height: 30vw;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  /* background:
    url(images/depressed.jpg) bottom right 15% no-repeat #ef537b; */
}


.mdl-card__title {
  height: 25vw;
  width: 25vw;
  border-radius: .1vw .1vw 0vw 0vw;
}
.mdl-card__title-text {
  font-size: 2vw;
  font-family: 'Muli', sans-serif;
  text-align: center;
  padding-top: 1vw;
  padding-bottom: 1vw;
  background-color: rgba(0,0,0, .5);
  color: #f1f1f1;
 
}

.mdl-card__supporting-text {
  background-color: #f1f1f1;
  height: fit-content;
  padding: 2vw;

}

a.launchButton {
  width: 25vw;
  display: flex;
  justify-content: center;
  color: #f1f1f1;
  padding: 2vw;
  background-color: rgba(239, 83, 123, 1);
  text-decoration: none;
}


a.launchButton:hover {
  text-decoration: none;
  color: #f1f1f1;

-webkit-animation: mover .7s infinite  alternate;
  animation: mover .7s infinite  alternate;
}
.pulse {
  -webkit-animation: mover .7s infinite  alternate;
  animation: mover .7s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }

}

.pulse {
  color: #f1f1f1;
  text-align: center;
  font-family: 'Beth Ellen', cursive;
  letter-spacing: .16vw;
  z-index: 1;
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  margin-bottom: 2vw;
  font-size: 2vw;
  text-shadow:
  0 0 6px rgba(202,228,225,0.92),
  0 0 30px rgba(202,228,225,0.34),
  0 0 12px rgba(255, 255, 255, 0.52),
  0 0 21px rgba(255, 255, 255, 0.92),
  0 0 34px rgba(255, 255, 255, 0.78),
  0 0 54px rgba(255, 255, 255, 0.92);

  /* -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
.pulse {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); } */
}





.alice {
  position: absolute; 
  z-index: 5; 
  margin-top: -25vw;
  width: 55vw;
  height: 34vw;
}

.mad {
  color: white;
  font-size: 5vw;
  font-family: 'Balthazar', serif;
  display: flex;
  justify-content: center;
  letter-spacing: .75vw;
  margin-top: 6vw;
}

.clockBlock {
  position: absolute; 
  width: 100%; 
  height: 20vw; 
  background-color: black; 
  z-index: 4;
}

.appImg {
  margin-left: -4vw; 
  margin-top: 5vw; 
  height: 25vw; 
  width: 13vw;
}
.upSlash {
  position: absolute; 
  height: 6vw; 
  width: 6vw; 
  margin-top: -24.5vw; 
  margin-left: -6.5vw;
  transform: rotate(180deg);
}

#goDown {
  cursor: pointer;
 }



img {
    display: flex;
    justify-content: center;
    z-index: 0;
    width: 100%;
}


html {
  scroll-behavior: smooth;
}

.tenor-gif-embed {

}

.neon {
    color: #f1f1f1;
    text-align: center;
    font-family: 'Beth Ellen', cursive;
    letter-spacing: .16vw;
    z-index: 1;
    display: flex;
    justify-content: start;
    margin: 3vw;
    /* left: 42vw; */
    font-size: 2vw;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(255, 255, 255, 0.52),
    0 0 21px rgba(255, 255, 255, 0.92),
    0 0 34px rgba(255, 255, 255, 0.78),
    0 0 54px rgba(255, 255, 255, 0.92);
    
  }

  
  
  .UX {
    font-size: 2vw;
    color: rgba(207,236,232, .52);
    text-align: center;
    font-family: 'Balthazar', serif;
    letter-spacing: .25vw;
    z-index:4;
    display: flex;

  }

  .navigation {
    font-family: 'Beth Ellen', serif;
    font-size: 3vw;
    color: white;
  }

.problem {
    font-family: 'Beth Ellen', cursive;
    font-size: 2.5vw;
    color: white;
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(255, 255, 255, 0.52),
    0 0 21px rgba(255, 255, 255, 0.92),
    0 0 34px rgba(255, 255, 255, 0.78),
    0 0 54px rgba(255, 255, 255, 0.92);
    display: flex;
    font-weight: 100;
    z-index: 4;
    margin-top: 2vw;
}

.paragraph {
    /* font-family: 'Beth Ellen', cursive; */
    /* font-family: 'Vollkorn', serif; */
    font-family: 'Arapey', serif;

    /* font-family: 'Muli', sans-serif; */
    color: black;
    font-size: 1.5vw;
    padding: 5vw;
    max-width: 35vw;
}

.paragraphIntro {
    font-family: 'Muli', sans-serif;
    color: black;
    font-size: 1.5vw;
    margin-top: 3vw;
  
}



.bigQuestion {
    font-family: 'Muli', sans-serif;
    font-size: 2.5vw;
    color: white;
    padding: 2vw;
    text-align: center;
    
}



.lists {
    font-family: 'Beth Ellen', cursive;
    color: rgba(255,255,255,.7);
    font-size: 1.7vw;
    max-width: 35vw;
}



.littlePoints {
    /* font-family: 'Muli', sans-serif; */
    font-family: 'Arapey', serif;

    color: rgba(255,255,255,1);
    font-size: 1.6vw;
    text-align: left;
    padding: .5 vw;
    margin-left: 1vw;
    /* padding: 5vw; */
    /* max-width: 35vw; */

}

.empathyMap {
    font-family: 'Muli', sans-serif;
    color: rgba(255,255,255,1);
    font-size: 2vw;


}

#noEmoji {
 
        content: '\25B8';
        display: inline;
        text-decoration: none;

}

.card {
    height: 50vw;
    width: 41.3vw; 
    box-shadow: 0 .33vw .66vw 0 rgba(255,255,255,.5);
    transition: 0.3s; 
    width: 40%;
}

.card:hover {
    box-shadow: 0 .66vw 1.33vw 0 rgba(255,255,255,0.5);
  }

  .container {
    padding: .17vw 1.33vw;
  }


  .projectOverview {
      background-color: rgba(96,189,233, 1);
      background-color: rgba(255,255,255, .5);
      height: 8vw;
      width: 100%;
      border: none;
     font-family: 'Muli', serif;
      color: white;
      font-size: 4vw;   
  }







  .littlerCard {
    width: 14vw;
    height: 14vw;

    /* background-color:gba(96,189,233, .5); */
    /* border-radius: .5vw; */
    margin-left: 2vw;
    color: #60BDE9;

}




.boxNames {
    /* font-family: 'Muli', sans-serif; */
    font-family: 'Arapey', serif;
    font-size: 1.5vw;
    text-align: left ;
    padding: 2vw;
    height: 20vw;
    width: 20vw;
    border-radius: 50%;

}



.title {
    /* font-family: 'Muli', sans-serif; */
    font-family: 'Arapey', serif;

    color: white;
    font-size: 2vw;
    text-align: left;
    
}

.bigCircle {
    height: 30vw;
    width: 30vw;
    background-color: blue;
    border-radius: 50%;
    padding: 2vw;
}




  
  .portrait {
    height: 20%; 
    width:20%;

  }

  .portrait2 {
      height: 30%;
      width: 30%;

  }


  /* Footer */

 
  .socialButtons{
    text-align: center;
    display: flex;
    width: fit-content; 
    margin-left: 21%;
    cursor: pointer;
  }

  .copyRight {
    font-family: 'Muli', sans-serif;
    color: #f1f1f1;
    font-size: 1.2vw;
    letter-spacing: .12vw;
    padding: 2vw;
    position: absolute;
    z-index: 4;
    background: rgba(255,255,255,.1);
    width: 100%;
    position: relative; 
    padding-top: 2.3vw;   
    height: 7vw;
}


  /* Flash icons */

  .icon{
    width: 5vw;
    height: 5vw;
    background: rgba(255,255,255,.1);
    margin: .8vw;
    border-radius: 50%;
    color: #10ac84;
    box-shadow: 0vw .4vw 1.2vw -.4vw #00000070;
    position: relative;
    overflow: hidden;
  }

  .icon i{
    line-height: 5vw;
    font-size: 2.1vw;
    transition: 0.2s;
  }

  .icon:hover i{
    transform: scale(1.3);
    color: #f1f1f1;
  }

  .icon::before{
    content: "";
    position: absolute;
    width: 120%;
    height: 120%;
    background: #10ac84;
    left: -110%;
    top: 90%;
    transform: rotate(45deg);
  }

  .prototype {
    width: 15vw; 
    height: 35vw; 
    margin-left: 5vw; 
    margin-top: 3.2vw; 
    position: absolute;
  }

  .icon:hover::before{
    animation: animation 0.7s 1 forwards;
  }

  @keyframes animation {
    0%{
      left: -110%;
      top: 90%;
    }50%{
      left: 15%;
      top: -30%;
    }100%{
      top: -10%;
      left: -10%;
    }
  }
  
 

  .aboutMe {
    font-family: 'Muli', sans-serif;
    color: #10ac84;
    font-size: 4vw;
    margin-left: 2vw;
    position: absolute;
    display: flex;
    justify-content: center;
  }


  .bio {
      height: 12vw;
      width: 12vw;
      border-radius: 50%;
      margin: 7.5vw 2vw 2vw 4vw;
      box-shadow: 0 .4vw 1.2vw -.4px #00000070;
      overflow: hidden;

  }
  
  .bioBox {
    height: 22vw;
    width: 22vw;
    margin: 1vw;
    background-color: rgba(255,255,255,.1);   
    margin-top: 2vw;
    display: flex;
    flex-direction: row;
  }

  .picBorder {
    height: 22vw;
    width: 22vw;
    margin: 1vw;
    background-color: rgba(255,255,255,.1);   
    margin-top: 2vw;
  }

  .bioParagraph {
    font-family: 'Muli', "sans-serif"; 
    color: white;
    padding: 1.5vw; 
    font-size: 1vw;

  }


  .slideRight {
    height: 26vw; 
    width: 90%;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 .4vw 1.2vw -.4vw #00000070;
    display: flex;
    margin-left: 5vw;   
    margin-top: 6vw;
    margin-bottom: -6vw;
     
  }

  .projectBox {
    height: 10vw; 
    width: 70%;
    background-color: rgba(255,255,255,.1);
    box-shadow: 0 .4vw 1.2vw -.4vw #00000070;
    margin: 2vw;
    margin-right: 5vw;
   
}

.projectInfo {
  height: 26vw; 
  width: 70%;
  background-color: #10ac84;
  box-shadow: 0 .4vw 1.2vw -.4vw #00000070;
  margin: 2vw;
  margin-right: 5vw;
  margin-top: -1vw;
 
}

  #demo {
    background : "red";
    height : "10vw";
    width : "10vw";
    border-radius : "50%";
    margin-right: "5vw";
  }

  .numbers {
    font-family: 'Muli', sans-serif;
    color: #10ac84;
    font-size: 4vw;
    margin-left: 2.5vw;
    margin-top: 2vw;
    position: absolute;
    text-align: center;
  }

  .selectedWork {
    font-family: 'Muli', sans-serif;
    color: white;
    font-size: 2vw;
    margin-left: 1vw;
    position: absolute;
    margin-top: 3vw;
  }

.projectDescription {
  color: white;
  font-family: 'Muli', sans serif;
  font-size: 1.2vw;
  margin-left: 3vw;
  margin-top: -20vw;
  height: 20vw;
  width: 50vw;
}


.buttonBlur {
  height: 3vw;
  width: 16vw;
  background-color: black;
  border-radius: .5vw;
  margin-top: 1.9vw;
  margin-left: .3vw;
  padding: 2vw;
  position: absolute;
  filter: blur(.1vw);
}

.shadowCircle {
  height: 12vw; 
  width: 12vw; 
  background-color: rgba(255,255,255, .2); 
  margin-top: -10.5vw; 
  margin-bottom: 1vw; 
  border-radius: 50%; 
  margin-left: -1vw;
  text-align: center;

}

.circleIcons {
  font-size: 6vw;
  color: white;
  margin-top: 3vw;
}

.fixBox {
  height: 20vw;
  width: 47%;
  position: absolute;
  margin-left: 21vw;
  margin-top: -4vw;
}

.bold {
  font-size: 1.2vw; 
  font-weight: 900;
}

.didYou {
  font-family: 'Muli', sans-serif; 
  color: #10ac84;
  font-size: 2vw;
  width: 30%;
  display: flex;
  justify-content: center;
  text-align: left;
  margin: 2vw;
}

.projectBoxLittle {
  height: 6vw; 
  width: 23%;
  background-color: rgba(255,255,255,.1);
  box-shadow: 0 .4vw 1.2vw -.4vw #00000070;
  margin: .95vw;
 
}

.projectBoxLittler {
  height: 55.5vw; 
  width: 99.99%;
  background-color: #ef537b;
  box-shadow: 0 .4vw 1.2vw -.4vw #00000070;
  margin-top: 6.8vw;
}

.projectInfoBox {
  height: 25vw; 
  width: 18vw;  
  background-color: rgba(255,255,255,.1);
  box-shadow: 0 .4vw 1.2vw -.4vw #00000070;
  margin: 2vw;
  margin-top: -6vw;
  position: absolute;
 
}

.numbersLittle {
  font-family: 'Muli', sans-serif;
  color: #ef537b;
  font-size: 3vw;
  margin-top: -.05vw;
  position: absolute;
  text-align: center;
  width: 100%;
}

.littleTitles {
  font-family: 'Muli', sans serif; 
  color: white; 
  font-size: 2.5vw;
  margin-top: 2.5vw;
  width: 18vw;
  text-align: center;

}
.projectDescriptionLittle {
  color: white;
  font-family: 'Muli', sans serif;
  font-size: 1.2vw;
  height: 20vw;
  width: 18vw;
  text-align: left;
  margin: 1vw;
  
}

.projectDescriptionDiary {
  color: black;
  font-family: 'Muli', sans serif;
  font-size: 1.2vw;
  text-align: left;
  display: flex;
  justify-content: start;
  flex-basis: 100%;
  flex: 1;
  width: 27vw;
  flex-direction: row;
  position: relative;
  z-index: 4;
  letter-spacing: .2vw;
  margin-top: 15.5vw;
}

.diaryStudyLanding {
  font-family: 'Muli', sans-serif;
  color: #ef537b;
  font-size: 4vw;
  margin-top: 11vw;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: rgba(255,255,255,.8);
  height: 6vw;
}

.subTitle {
  font-size: 3vw; 
  font-family: 'Beth Ellen', cursive; 
  color: black;
  z-index: 4;

}

.diaryInfo {
  font-family: 'Muli', sans-serif;
  color: black;
  font-size: 4vw;
  position: absolute;
  display: flex;
  flex-direction: row;
  width: 40vw;
  height: 58.5vw;
  background-color: rgba(255,255,255,.8);
  letter-spacing: .4vw;
  z-index: 5;
  margin-top: 5vw;
  margin-left: -7.5vw;

}

.longAndSpacey{
  font-family: 'Muli', sans-serif;
  color: white;
  position: absolute;
  width: 41vw;
  height: 41vw;
  overflow: hidden;
  background-color: #ef537b;
  font-size: 1.2vw;
  letter-spacing: .2vw;
  flex-basis: 100%;
  flex-direction: column;
  flex: 1;
  z-index: 3;
  display: block;
  overflow: auto;
  margin: 2vw;
  border-top: 2vw solid rgba(255,255,255,.25);

}

.backgroundRec {

  font-family: 'Muli', sans-serif;
  color: black;
  position: absolute;
  width: 41vw;
  height: 41vw;
  background-color: #1A1A1A;
  font-size: 1.2vw;
  letter-spacing: .2vw;
  flex-basis: 100%;
  flex-direction: column;
  flex: 1;
  z-index: 3;
  display: flex;
  margin: 2vw;


}

.box1 {
  margin-left: 6vw;
  /* margin-top: 46.6vw; */
  display: block;
  overflow: auto;
  

}

.box2 {
  display: block;
  height: 100%;
  font-family: 'Muli', sans-serif;
  color: white;
  position: absolute;
  width: 41vw;
  overflow: hidden;
  background-color: #ef537b;
  font-size: 1.2vw;
  letter-spacing: .2vw;
  flex-basis: 100%;
  flex-direction: column;
  justify-content: end;
  flex: 1;
  z-index: 3;
  overflow: auto;
  margin: 2vw;
  border-top: 2vw solid rgba(255,255,255,.25);

  
}

.box3 {
  margin-left: 6vw; 
  margin-top: 43vw;
  display: block;
  overflow: auto;

}

.box4 {
  margin-right: 10vw; 
  margin-top: 0vw;
  display: block;
  overflow: auto;

}

.boxFont {
  color: white;
  font-family: 'Muli', sans serif;
  font-size: 1.2vw;
  text-align: left;
  margin: 1vw;
  display: flex;
  flex-basis: 100%;
  flex: 1;
  width: 27vw;
  flex-direction: row;
  position: absolute;
  z-index: 4;
  margin-left: 7.1vw;

}

.indent {
  color: white;
  font-family: 'Muli', sans serif;
  font-size: 1.2vw;
  text-align: left;
  margin: 1vw;
  display: flex;
  flex-basis: 100%;
  flex: 1;
  width: 27vw;
  flex-direction: column;
  position: block;
  z-index: 4;

}

.longText{
  font-family: 'Muli', sans-serif;
  color: black;
  position: absolute;
  display: flex;
  width: 68%;
  margin-left: -.08vw;
  margin-top: 2vw;
  font-size: 1.2vw;
  letter-spacing: .2vw;
  background-color:  rgba(255,255,255,.7);

}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  font-family: 'Muli', "sans-serif"; 
  color: white;
 
}

.shadowCircleLittle {
  height: 12vw; 
  width: 12vw; 
  background-color: rgba(255,255,255, .2); 
  margin-top: 2vw;
  margin-bottom: 1vw; 
  border-radius: 50%; 
  margin-left: 2vw;
}

.circleIconsLittle{
  font-size: 6vw;
  color: white;
  margin: 3vw;
  text-align: center;
}

.bioParagraphLittle {
  font-family: 'Muli', "sans-serif"; 
  color: white;
  padding: 1.5vw 1.5vw 1vw 0vw; 
  font-size: 1vw;
  align-content: center;
  width: 100%;
}

.diaryPrompt {
  font-family: 'Muli', "sans-serif"; 
  color: #ef537b;
  font-size: 4vw;
  margin-top: 50vw;
  margin-left: 4.5vw;
}

.promptQuote {
  font-family: 'Muli', "sans-serif"; 
  color: white;
  font-size: 1.5vw;
  margin-left: 4.5vw;
  display: flex;
  width: 30vw;
}


.leftBox {
  width: 50%;
  display: flex;
  flex-direction: column;
  height: 50vw;
  background-color: pink;

}

.diaryDescription {
  position: absolute; 
  z-index: 4; 
  color: black; 
  margin-left: 57.5%; 
  letter-spacing: .2vw; 

}

.shadowCircleBig {
  background-color: #ef537b; 
  opacity: 50%;
  border-radius: 50%;
  position: absolute;
  z-index: 4;
  margin: 2vw;
  margin-top: 15vw;
  display: flex;
  margin-left: 60%;

}

.peeps {
  color: black;
  font-family: 'Muli', sans serif;
  font-size: 1.2vw;
  text-align: left;
  margin-left: 2vw;
  position: absolute;
  z-index: 4;
  letter-spacing: .2vw;
  margin-top: 15vw;

  
}

table {
  font-family: 'Muli', sans serif;
  color: white;
  display: absolute;
  z-index: 5;
  table-layout: fixed;
 
}


td {
  border: .1vw solid white;
  font-family: 'Muli', sans serif;
  color: white;
  padding: 2vw;
  width: 14vw;
}



.tableHead {
  display: flex;
  border: .1vw solid white;
  font-family: 'Muli', sans serif;
  text-align: center;
  color: white;
  flex-direction: row;
  z-index: 5;
  padding: 2vw;
  

 
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.box {
  float: left;
  width: 45vw;
  padding-left: 8.5vw;
  padding-right: 8.5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  color: white;
  font-family: 'Muli', sans serif;
  font-size: 1.2vw;
  text-align: left;
  letter-spacing: .2vw;

}


.TLDR {
  float: left;
  border-radius: 1vw;
  margin-left: -6vw;
  width: 40vw;
  padding-left: 2vw;
  padding-right: 2vw;
  padding-top: 1vw;
  padding-bottom: 1vw;
  color: white;
  font-family: 'Muli', sans serif;
  font-size: 1.2vw;
  text-align: left;
  letter-spacing: .2vw;

}

.affinityMap {
  width: 90vw;
  padding-left: 8.5vw;
  padding-right: 8.5vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  background-color: #1A1A1A;
  font-family: 'Muli', sans serif;
  font-size: 1.2vw;
  text-align: left;
  letter-spacing: .2vw;
  margin-top: 2vw;
  color: white;

}

/* Clear floats after the columns */
.box:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .box {
  
  }
}


.thankYou {
  font-family: "Muli", sans-serif;
  font-size: 1.5vw;
  display: flex;
  color: white;
  margin-top: 2vw;
}

.elevatorPitch {
  width: 45vw; 
}

.sectionCounter {
  height: 1vw; 
  width: 1vw; 
  border-radius: 50%; 
  background-color: #ef537b;
  border: .10vw solid #ef537b; 
  margin-left: -7vw;
  position: absolute;
}

.wrapperTable
{
    width: 100%;
}

.iphoneSE {
  height: 36.5vw; 
  width: 18.75vw; 
  margin: 1vw;
  text-align: left;
}

.medsBall {
  height: 8.5vw; 
  width: 8.5vw; 
  border-radius: 50%; 
  background-color: #1A1A1A;
  margin: 1vw;
  border: .1vw solid white;
}

.medsBallEmpty {
  height: 5vw; 
  width: 10vw; 
  background-color: transparent;
  margin: 1vw;
  color: white;
  line-height: 1vw;
  margin-top: 0vw;
}

.ballText {
  font-family: 'Muli', sans-serif;
  text-align: center;
  margin-top: 40%;
}

.ballCard {
  height: 10vw;
  width: 20vw;
  border: .5vw solid white;
}

.textBackground {
  position: absolute; 
  height: 30vw; 
  width: 30vw; 
  border-radius: 50%; 
  background-color: #3285D6; 
  margin-top: 4vw; 
  margin-left: -3vw;
  z-index: 1;
}

.dataDotsLabel {
  height: 5vw; 
  width: 7.5vw; 
  border: .1vw solid white; 
  font-size: 1vw;
  padding: .2vw;
  text-align: center;
  margin-left: 1.4vw;
  margin-top: .2vw;
  padding: 1vw 0vw;
}

.dataDotsContainer {
  height: auto;
  width: 100%;
  border: .1vw solid white;
  margin-top: 2vw;
  padding-bottom: 2vw;
}

.dataDotsContainerHalf {
  height: auto;
  width: 50%;
  border: 0vw solid transparent;
  border-bottom: .1vw solid white;
  border-top: .1vw solid white;
  margin-top: 2vw;
  padding-bottom: 2vw;
}
.legend {
  margin: 2vw;
  font-size: 1vw;

}
.legendLabel {
  font-size: 1vw; 
  text-transform: uppercase;
  /* width: 4vw; */
  margin: 0 .5vw 0 .5vw;
  
}

.ring {
  height: 3vw;
  width: 3vw;
  background-color: #1a1a1a;
  border-radius: 50%;
  border: .4vw solid #8dd052; 
  margin: 1.5vw 4vw 1vw 0vw; 
}

.ringBig {
  height: 9vw;
  width: 9vw;
  background-color: #1a1a1a;
  border-radius: 50%;
  border: .6vw solid #8dd052; 
  margin: 2vw 1vw 2vw 1vw;
}

.ringContent {
  height: 3vw;
  width: 3vw;
  background-color: white;
  border-radius: 50%;
  margin: 1.5vw 7.8vw 1vw 0vw;
  border: .4vw solid #1a1a1a; 
}

.legendVars {
  font-size: 1vw; 
  text-transform: uppercase;
  /* width: 4vw; */
  margin: 0 6vw 0 .5vw;
}

.phase {
  font-family: 'Muli', sans-serif; 
  font-size: 3vw;
}



